<table class="table shadow shadow-md table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">New Cases</th>
        <th scope="col">Active Cases</th>
        <th scope="col">deaths</th>
        <th scope="col">Recovered</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1-1-21</td>
        <td>32</td>
        <td>232</td>
        <td>42</td>
        <td>22</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2-1-21</td>
        <td>22</td>
        <td>242</td>
        <td>40</td>
        <td>22</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>3-1-21</td>
        <td>12</td>
        <td>222</td>
        <td>33</td>
        <td>92</td>
      </tr>
     
    </tbody>
  </table>